[submodule "plugins/api_key"]
	path = plugins/api_key
	url = https://github.com/fastapi-practices/api_key.git
[submodule "plugins/task"]
	path = plugins/task
	url = https://github.com/fastapi-practices/task.git
[submodule "plugins/s3"]
	path = plugins/s3
	url = https://github.com/fastapi-practices/s3.git
[submodule "plugins/mcp"]
	path = plugins/mcp
	url = https://github.com/fastapi-practices/mcp.git
[submodule "plugins/casdoor_sso"]
	path = plugins/casdoor_sso
	url = https://github.com/fastapi-practices/casdoor_sso.git
[submodule "plugins/casbin_rbac"]
	path = plugins/casbin_rbac
	url = https://github.com/fastapi-practices/casbin_rbac.git
[submodule "plugins/ai"]
	path = plugins/ai
	url = https://github.com/fastapi-practices/ai.git
