[submodule "plugins/api_key"]
	path = plugins/api_key
	url = https://github.com/fastapi-practices/api_key.git
[submodule "plugins/task"]
	path = plugins/task
	url = https://github.com/fastapi-practices/task.git
[submodule "plugins/s3"]
	path = plugins/s3
	url = https://github.com/fastapi-practices/s3.git
